## Homework


> Note: sometimes your answer doesn't match one of the options exactly. That's fine. 
Select the option that's closest to your solution.

### Dataset

In this homework, we will use the California Housing Prices data from [Kaggle](https://www.kaggle.com/datasets/camnugent/california-housing-prices).

Here's a wget-able [link](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv):

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
```
We'll keep working with the `'median_house_value'` variable, and we'll transform it to a classification task. 
 

### Features

For the rest of the homework, you'll need to use only these columns:

* `'latitude'`,
* `'longitude'`,
* `'housing_median_age'`,
* `'total_rooms'`,
* `'total_bedrooms'`,
* `'population'`,
* `'households'`,
* `'median_income'`,
* `'median_house_value'`,
* `'ocean_proximity'`,

In [1]:
import pandas as pd
df = pd.read_csv("housing.csv")
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

### Data preparation

* Select only the features from above and fill in the missing values with 0.
* Create a new column `rooms_per_household` by dividing the column `total_rooms` by the column `households` from dataframe. 
* Create a new column `bedrooms_per_room` by dividing the column `total_bedrooms` by the column `total_rooms` from dataframe. 
* Create a new column `population_per_household` by dividing the column `population` by the column `households` from dataframe.

In [2]:
df.fillna(0,inplace=True)
df.isnull().sum()
df['rooms_per_household'] = df['total_rooms'] / df['households']
df['bedrooms_per_room'] = df['total_bedrooms'] / df['total_rooms']
df['population_per_household'] = df['population'] / df['households']
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0.146591,2.555556
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,0.155797,2.109842


### Question 1

What is the most frequent observation (mode) for the column `ocean_proximity`?

Options:
* `NEAR BAY`
* `<1H OCEAN`
* `INLAND`
* `NEAR OCEAN`

In [3]:
df['ocean_proximity'].mode()

0    <1H OCEAN
Name: ocean_proximity, dtype: object


### Question 2

* Create the [correlation matrix](https://www.google.com/search?q=correlation+matrix) for the numerical features of your train dataset.
    - In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
* What are the two features that have the biggest correlation in this dataset?

Options:
* `total_bedrooms` and `households`
* `total_bedrooms` and `total_rooms`
* `population` and `households`
* `population_per_household` and `total_rooms`

In [4]:
#df.info()
numerical_columns = ['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'rooms_per_household',
       'bedrooms_per_room', 'population_per_household']

categorical_columns = ['ocean_proximity']
df_numerical = df[numerical_columns]
df_numerical.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_household,bedrooms_per_room,population_per_household
longitude,1.000000,-0.924664,-0.108197,0.044568,0.068082,0.099773,0.055310,-0.015176,-0.045967,-0.027540,0.084836,0.002476
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.065318,-0.108785,-0.071035,-0.079809,-0.144160,0.106389,-0.104112,0.002366
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.317063,-0.296244,-0.302916,-0.119034,0.105623,-0.153277,0.125396,0.013191
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.920196,0.857126,0.918484,0.198050,0.134153,0.133798,-0.174583,-0.024581
total_bedrooms,0.068082,-0.065318,-0.317063,0.920196,1.000000,0.866266,0.966507,-0.007295,0.049148,0.002717,0.122205,-0.028019
population,0.099773,-0.108785,-0.296244,0.857126,0.866266,1.000000,0.907222,0.004834,-0.024650,-0.072213,0.031397,0.069863
households,0.055310,-0.071035,-0.302916,0.918484,0.966507,0.907222,1.000000,0.013033,0.065843,-0.080598,0.059818,-0.027309
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007295,0.004834,0.013033,1.000000,0.688075,0.326895,-0.573836,0.018766
median_house_value,-0.045967,-0.144160,0.105623,0.134153,0.049148,-0.024650,0.065843,0.688075,1.000000,0.151948,-0.238759,-0.023737
rooms_per_household,-0.027540,0.106389,-0.153277,0.133798,0.002717,-0.072213,-0.080598,0.326895,0.151948,1.000000,-0.387465,-0.004852
bedrooms_per_room,0.084836,-0.104112,0.125396,-0.174583,0.122205,0.031397,0.059818,-0.573836,-0.238759,-0.387465,1.000000,0.003047
population_per_household,0.002476,0.002366,0.013191,-0.024581,-0.028019,0.069863,-0.027309,0.018766,-0.023737,-0.004852,0.003047,1.000000



### Make `median_house_value` binary

* We need to turn the `median_house_value` variable from numeric into binary.
* Let's create a variable `above_average` which is `1` if the `median_house_value` is above its mean value and `0` otherwise.

In [5]:
df['median_house_value'] > df['median_house_value'].mean()

0         True
1         True
2         True
3         True
4         True
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Name: median_house_value, Length: 20640, dtype: bool

In [6]:
df['above_average']=0
df.loc[df['median_house_value'] > df['median_house_value'].mean(), 'above_average'] = 1


df['above_average']

0        1
1        1
2        1
3        1
4        1
        ..
20635    0
20636    0
20637    0
20638    0
20639    0
Name: above_average, Length: 20640, dtype: int64


### Split the data

* Split your data in train/val/test sets, with 60%/20%/20% distribution.
* Use Scikit-Learn for that (the `train_test_split` function) and set the seed to 42.
* Make sure that the target value (`median_house_value`) is not in your dataframe.

In [7]:
from sklearn.model_selection import train_test_split

del df['median_house_value']


df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.2, random_state=1)

len(df_train), len(df_val), len(df_test)

# separate features and target

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)


X_train = df_train.drop('above_average', axis=1)
X_val = df_val.drop('above_average', axis=1)
X_test = df_test.drop('above_average', axis=1)
#y = df['Survived']

y_train = df_train['above_average']
y_val = df_val['above_average']
y_test = df_test['above_average']

In [8]:
y_train

0        1
1        1
2        1
3        0
4        1
        ..
13204    0
13205    1
13206    1
13207    0
13208    0
Name: above_average, Length: 13209, dtype: int64

In [9]:
X_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,-117.77,33.71,13.0,1939.0,247.0,928.0,244.0,8.1111,<1H OCEAN,7.946721,0.127385,3.803279
1,-118.20,33.82,21.0,2251.0,452.0,913.0,420.0,4.6042,NEAR OCEAN,5.359524,0.200800,2.173810
2,-117.72,33.53,14.0,1672.0,295.0,704.0,293.0,5.1129,<1H OCEAN,5.706485,0.176435,2.402730
3,-122.05,39.34,44.0,1064.0,230.0,494.0,175.0,2.8750,INLAND,6.080000,0.216165,2.822857
4,-118.11,33.94,37.0,1434.0,262.0,786.0,256.0,4.4375,<1H OCEAN,5.601562,0.182706,3.070312


### Question 3

* Calculate the mutual information score with the (binarized) price for the categorical variable that we have. Use the training set only.
* What is the value of mutual information?
* Round it to 2 decimal digits using `round(score, 2)`

Options:
- 0.26
- 0
- 0.10
- 0.16

In [10]:
from sklearn.metrics import mutual_info_score
mutual_info_score(X_train.ocean_proximity,y_train)

0.1037940339581675



### Question 4

* Now let's train a logistic regression
* Remember that we have one categorical variable `ocean_proximity` in the data. Include it using one-hot encoding.
* Fit the model on the training dataset.
    - To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
    - `model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)`
* Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

Options:
- 0.60
- 0.72
- 0.84
- 0.95

In [12]:
# pipeline for numerical columns
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

num_cols = ['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'rooms_per_household', 'bedrooms_per_room', 'population_per_household']

cat_cols = ['ocean_proximity']

onehot_enc =   OneHotEncoder(handle_unknown='ignore', sparse=False)

# Using make_column_transformer to One-Hot Encode
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer


transformer = make_column_transformer(
    (OneHotEncoder(handle_unknown='ignore', sparse=False), ['ocean_proximity']),
    remainder='passthrough')

transformed = transformer.fit_transform(df)
transformed_df = pd.DataFrame(
    transformed, 
    columns=transformer.get_feature_names_out()
)

df_full_train, df_test = train_test_split(transformed_df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.2, random_state=1)

len(df_train), len(df_val), len(df_test)

# separate features and target

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [13]:
df_train.head()

,onehotencoder__ocean_proximity_<1H OCEAN,onehotencoder__ocean_proximity_INLAND,onehotencoder__ocean_proximity_ISLAND,onehotencoder__ocean_proximity_NEAR BAY,onehotencoder__ocean_proximity_NEAR OCEAN,remainder__longitude,remainder__latitude,remainder__housing_median_age,remainder__total_rooms,remainder__total_bedrooms,remainder__population,remainder__households,remainder__median_income,remainder__rooms_per_household,remainder__bedrooms_per_room,remainder__population_per_household,remainder__above_average
0,1.0,0.0,0.0,0.0,0.0,-117.77,33.71,13.0,1939.0,247.0,928.0,244.0,8.1111,7.946721,0.127385,3.803279,1.0
1,0.0,0.0,0.0,0.0,1.0,-118.20,33.82,21.0,2251.0,452.0,913.0,420.0,4.6042,5.359524,0.200800,2.173810,1.0
2,1.0,0.0,0.0,0.0,0.0,-117.72,33.53,14.0,1672.0,295.0,704.0,293.0,5.1129,5.706485,0.176435,2.402730,1.0
3,0.0,1.0,0.0,0.0,0.0,-122.05,39.34,44.0,1064.0,230.0,494.0,175.0,2.8750,6.080000,0.216165,2.822857,0.0
4,1.0,0.0,0.0,0.0,0.0,-118.11,33.94,37.0,1434.0,262.0,786.0,256.0,4.4375,5.601562,0.182706,3.070312,1.0

In [15]:


X_train = df_train.drop('remainder__above_average', axis=1)
X_val = df_val.drop('remainder__above_average', axis=1)
X_test = df_test.drop('remainder__above_average', axis=1)
#y = df['Survived']

y_train = df_train['remainder__above_average']
y_val = df_val['remainder__above_average']
y_test = df_test['remainder__above_average']

In [16]:


# build the model
logreg = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)

# train the model
logreg.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [17]:

# make predictions on the test set
y_pred = logreg.predict(X_test)

# measure accuracy
score = accuracy_score(y_test, y_pred)
print("Accuracy Score:", score)

Accuracy Score: 0.8287306201550387

In [18]:
# PREDICTIONS
model=logreg
y_pred_val = model.predict(X_val)
y_pred_test = model.predict(X_test)
result = pd.DataFrame({'Actual' : y_val, 'Predicted' : y_pred_val})
print(result)
result1 = pd.DataFrame({'Actual' : y_test, 'Predicted' : y_pred_test})
print(result1)

      Actual  Predicted
0        1.0        1.0
1        1.0        1.0
2        0.0        0.0
3        1.0        1.0
4        0.0        0.0
...      ...        ...
3298     1.0        1.0
3299     0.0        0.0
3300     1.0        1.0
3301     1.0        0.0
3302     1.0        1.0

[3303 rows x 2 columns]
      Actual  Predicted
0        1.0        1.0
1        0.0        0.0
2        1.0        0.0
3        0.0        0.0
4        1.0        1.0
...      ...        ...
4123     0.0        0.0
4124     1.0        0.0
4125     1.0        1.0
4126     1.0        1.0
4127     0.0        0.0

[4128 rows x 2 columns]

In [19]:

# EVALUATE MODEL
from sklearn.metrics import accuracy_score

print('Accuracy of model')
print(accuracy_score(y_test,y_pred_test) * 100, '%')

Accuracy of model
82.87306201550388 %



### Question 5 

* Let's find the least useful feature using the *feature elimination* technique.
* Train a model with all these features (using the same parameters as in Q4).
* Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
* For each feature, calculate the difference between the original accuracy and the accuracy without the feature. 
* Which of following feature has the smallest difference? 
   * `total_rooms`
   * `total_bedrooms` 
   * `population`
   * `households`

> **note**: the difference doesn't have to be positive


### Question 6

* For this question, we'll see how to use a linear regression model from Scikit-Learn
* We'll need to use the original column `'median_house_value'`. Apply the logarithmic transformation to this column.
* Fit the Ridge regression model (`model = Ridge(alpha=a, solver="sag", random_state=42)`) on the training data.
* This model has a parameter `alpha`. Let's try the following values: `[0, 0.01, 0.1, 1, 10]`
* Which of these alphas leads to the best RMSE on the validation set? Round your RMSE scores to 3 decimal digits.

If there are multiple options, select the smallest `alpha`.

Options:
- 0
- 0.01
- 0.1
- 1
- 10



## Submit the results

* Submit your results here: https://forms.gle/vQXAnQDeqA81HSu86
* You can submit your solution multiple times. In this case, only the last submission will be used 
* If your answer doesn't match options exactly, select the closest one


## Deadline

The deadline for submitting is 26 September (Monday), 23:00 CEST.

After that, the form will be closed.